<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
 <h8>This month's travel hotspots are.....</h8>
 <h9>Retkjavik, Iceland</h9>
 <h10>From the festival city, many spas, and with almost 24 hours of sunlight in the summer Retkjavik, Iceland is a must-see vacation destination!</h10>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/D3gIZ_QUXIA" frameborder="0" allowfullscreen></iframe>
 




  </body>
</html>