<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
 <h8>This month's travel hotspots are.....</h8>
 <h9>Retkjavik, Iceland</h9>
 <h10>From the festival city, many spas, and with almost 24 hours of sunlight in the summer Retkjavik, Iceland is a must-see vacation destination!</h10>
  video_link = https://www.youtube.com/watch?v=D3gIZ_QUXIA&t=2s
 




  </body>
</html>