<!DOCTYPE html>
<html>
    <body>
      <head>
        <meta charset="UTF-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        </head>
    </body>
</html>
<img src="https://68.media.tumblr.com/9261627836a75e1ea5ef25bc09895ac5/tumblr_ou610mKPIo1wx7ajoo1_1280.jpg" alt="Computer man" style="width:1270px;height:300px;" >
<img src="https://media.giphy.com/media/xT39D4khxTwmgGRyBa/giphy.gif" alt="Computer man" style="width:1270px;height:300px;" >
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: skyblue;}

ul.topnav li a.active {background-color: skyblue;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
</style>
</head>
<body>

<ul class="topnav">
  <li><a class="active" href="#Where2Go">Where2Go</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#Travel Hotspot">Travel Hotspot</a></li>
  <li class="right"><a href="/about">About</a></li>
</ul>

<div style="padding:0 16px;">
 
</div>

</body>
</html>

  <h1>1. What type of trip do you want to take?</h1>
  <form method="POST">
    <input type=radio name="user_type" value="Romantic Getaway"> Romantic Getaway
    </br>
    <input type=radio name="user_type" value="Family Trip"> Family Trip
    </br>
    <input type=radio name="user_type" value="Relaxing"> Relaxing
    </br>
    <input type=radio name="user_type" value="Adventure"> Adventure
   </br>
   <h2>2. How far do you want to go?</h2>
    <input type=radio name="user_distance" value="In North America"> In North America
    </br>
    <input type=radio name="user_distance" value="Outside of North America"> Outside of North America
    </br>
    <h3>3. When are you planning to take the trip?</h3>
    <input type=radio name="user_season" value="Summer"> Summer
    </br>
   <input type=radio name="user_season" value="Fall"> Fall 
    </br>
   <input type=radio name="user_season" value= "Winter"> Winter
   </br>
   <input type=radio name="user_season" value="Spring"> Spring
   </br>
   <h4>4. What weather would you prefer?</h4>
    <input type=radio name="user_weather" value="Warm"> Warm
    </br>
   <input type=radio name="user_weather" value="Cold"> Cold 
    <h5>5. How many people are planning to go?</h5>
    <input type=radio name="user_amount" value="1"> 1 person 
    </br>
   <input type=radio name="user_amount" value="2"> 2 
     </br>
   <input type=radio name="user_amount" value="3-7"> 3-7
     </br>
   <input type=radio name="user_amount" value="8+"> 8+
   </br>
   </br>
   </br>
    <input type="submit" width 50 height 50>
    </br>
    </br>
  </form>
  
  
