<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
  <img src="https://media.giphy.com/media/xT39D4khxTwmgGRyBa/giphy.gif" alt="Computer man" style="width:1270px;height:500px;" >
  <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {margin: 0;}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: skyblue;}

ul.topnav li a.active {background-color: skyblue;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
</style>
</head>
<body>

<ul class="topnav">
  <li><a class="active" href="#Where2Go">Where2Go</a></li>
  <li><a href="/travel_hotspot">Travel Hotspot</a></li>
  <li class="right"><a href="/about">About</a></li>
</ul>

<div style="padding:0 16px;">
 
 <h8><center>This Months Travel Hotspots Are...</center></h8><br>
 
 <h19>1.</h19>
 <h9>Retkjavik, Iceland</h9><br>
 <h10>From the festival city, many spas, and with almost 24 hours of sunlight in the summer Retkjavik, Iceland is a must-see vacation destination!</h10><br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/D3gIZ_QUXIA" frameborder="0" allowfullscreen></iframe>
  <br> 
  <br>
  
  <h20>2.</h20>
  <h11>Paris, France</h11><br>
  <h12>With amazing tourist destinations and great food cusine, Paris is a one of a kind vacation spot!</h12><br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/hREcgljzKPA" frameborder="0" allowfullscreen></iframe>




  </body>
</html>