<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
 <h8>This months travel hotspot is.....</h8><br>
 <h9>Retkjavik, Iceland</h9><br>
 <h10>From the festival city, many spas, and with almost 24 hours of sunlight in the summer Retkjavik, Iceland is a must-see vacation destination!</h10><br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/D3gIZ_QUXIA" frameborder="0" allowfullscreen></iframe>




  </body>
</html>