
<!DOCTYPE html>
<html>
<head>
<style>
img {
    margin: auto;
}

form {
    font-family: sans-serif;
    font-size: 18px;
    color: black;
     text-align: center;
    background-color: lightgrey
}
h1 {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
    background-color: lightblue;
     text-align: center
} 
h2 {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
     text-align: center;
    background-color: lightpink
} 
h3 {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
     text-align: center;
    background-color: lightgrey
} 
h4 {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
     text-align: center;
    background-color: lightgrey
} 
h5 {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
     text-align: center;
    background-color: lightgrey
} 
h6 {
    color: black;
    font-family: sans-serif;
    font-size: 20px;
     text-align: center;
    background-color: lightgrey
} 
h8 {color: black;
    font-family: sans-serif;
    font-size: 20px;
     text-align: center;
    /*background-color: lightgrey*/
}
</style>
</head>
<body>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>
</body>
</html>


